
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: white;
  color: #333;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  flex: 1;
}

header .logo {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}
.header .icon svg{
  margin-right: 10px;
 
}
.head .icon{
  flex-grow: 1;
}
.head .search{
  flex-grow: 1;
}



header input {
  width: 40%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 40px;
  margin-left: 5px;
}

header .write-btn {
  margin-left: auto;
  margin-right: 15px;
  padding: 8px 16px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 20px;
}

.profile-icon {
  font-size: 25px;
  
}

main {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  gap: 30px;
}

.mock{
  margin-bottom: 5px;
  text-decoration: dashed;
}
.feed {
  flex: 2;
}

.sidebar {
  flex: 1;
}

.info-bar {
  background: white;
  padding: 12px;
  font-size: 0.9rem;
  margin-bottom: 40px;
  border: 0px solid #eee;
}
.info-bar p{
  margin-bottom: 10px;

}

.post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.post-text {
  max-width: 70%;
}

.post img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-left: 20px;
  margin-right: 50px ;
  border-radius: 40px;
}

.post h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.post .author {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 8px;
}

.post .desc {
  font-size: 13px;
}


.sidebar h4{
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar  h5{
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.sidebar ul {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar .tags span {
  display: inline-block;
  background: #f2f2f2;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  font-size: 15px;
}

.follow button {
  margin-top: 10px;
  padding: 6px 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 15px;
}
.sidebar .follow {
  margin-top: 20px;
}
.sidebar .staff-picks{
  margin-top: 20px;
}
.sidebar .para{
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #666;

}
.sidebar li{
  margin-bottom: 20px;
}
.feed .para1{
  background-color:#ebebeb;
  padding: 30px;
  border: none;
  border-radius: 30px;

}
.post .post-text h3{
  margin-bottom: 20px;
}
.sidebar .staff-picks h5{
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: none;
}
.meta span {
  margin-right: 15px;
  font-size: 12px;
  color: gray;
}
.follow-suggestion {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.follow-suggestion button {
  padding: 4px 10px;
  font-size: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.sidebar h3{
  font-size: 20px;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.follow-suggestion p{
  font-size: 12px;
}
.follow-suggestion span{
  font-size: 12px;
}
hr{
  border: #eeeeee;
}