* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
}
body { 
    background: #f2f2f2; 
    color: #000; 
    transition: all 0.3s; 
}
body.dark { 
    background: #121212; 
    color: #f2f2f2; 
}
header {
     background: #1e1e2f; 
     color: white; 
     padding: 20px; 
     text-align: center; 
    }
body.dark header {
     background: #1b1b1b; 
    }

.tabs { 
    margin-bottom: 10px;
 }
.tabs button { 
    padding: 8px 12px; 
    margin: 0 5px; 
    border: none; 
    background: #03a9f4; 
    color: white; 
    border-radius: 4px; 
    cursor: pointer; 
}
.tabs button:hover {
     background: #0288d1; 
    }

.controls {
     display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px; 
    gap: 10px; 
    flex-wrap: wrap; 
}
.search-box input {
     padding: 10px; 
     width: 200px; 
     border: none; 
     border-radius: 4px; 
    }
.search-box button { 
    padding: 10px 15px; 
    border: none; 
    background: #ff9800; 
    color: white; 
    cursor: pointer; 
    border-radius: 4px; 
}
#themeToggle {
     padding: 10px 15px; 
     border: none; 
     background: #607d8b; 
     color: white; 
     cursor: pointer; 
     border-radius: 4px; 
    }
    #themeToggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.categories { 
    margin-top: 15px; 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 10px; 
    font-size: 40px;
}
.categories button { 
    padding: 8px 12px; 
    border: none; 
    background: #03a9f4; 
    color: white; 
    cursor: pointer; 
    border-radius: 4px; 
}
.categories button:hover {
     background: #0288d1; 
    }

#newsContainer { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; padding: 20px; 
}
.news-card {
     background: white; 
     border-radius: 6px; 
     overflow: hidden; 
     box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
     transition: transform 0.2s; 
    }
.news-card:hover { 
    transform: translateY(-5px);
 }
body.dark .news-card { 
    background: #1e1e2e; 
}
.news-card img { 
    width: 100%;
    height: 180px; 
    object-fit: cover; 
}
.news-content {
     padding: 15px; 
    }
.news-content h3 {
     font-size: 18px; 
     margin-bottom: 10px; 
    }
.news-content p {
     font-size: 14px; 
     color: #555; 
    }
body.dark .news-content p {
     color: #ccc; 
    }
.news-content a {
     display: inline-block; 
     margin-top: 10px; 
     color: #ff9800; 
     text-decoration: none; 
     font-weight: bold; 
    }


