
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #1e272e;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #f39c12;
}

.header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.cart svg {
    width: 26px;
    height: 26px;
}

/* Banner */
.banner {
    background: linear-gradient(to right, #3498db, #9b59b6);
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.banner button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #f39c12;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Products Section */
.products {
    padding: 40px 50px;
}

.products h2 {
    text-align: center;
    margin-bottom: 30px;
}

/*  Grid Layout */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* Product Card */
.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}


.product-card img {
    width: 100%;
    height: 150px;          
    object-fit: contain;   
    margin-bottom: 10px;
}

/* rating */
.rating {
    display: flex;
    justify-content: center;
    gap: 4px;
    color: gold;
    margin: 8px 0;
}

.rating svg {
    width: 16px;
    height: 16px;
}

/* Price */
.price {
    font-size: 18px;
    color: #27ae60;
    margin: 10px 0;
}

/* Button */
.product-card button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.product-card button svg {
    width: 18px;
    height: 18px;
}

/* Footer */
.footer {
    background: #1e272e;
    color: white;
    text-align: center;
    padding: 15px;
}



